$color-1: orange;
$color-2: gray;
$color-3: blue;

$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

body{
    background-color: #32d0d6;
}

.nav{
    background-color: $color-1;
}

.nav {
    background-color: $color-1;
    ul li{
    list-style: none;
}
    a{
        text-decoration: none;
        &:hover{
            color: $color-2;
        }
    }
}

@mixin headings($fontSize){
    font-size:$fontSize;
    color: $color-2;
    text-align: center;
}

.banner h1{
    @include headings($font-lg);
}

.footer h3{
    @include headings($font-md);
}

