$color-1: orange;
$color-2: gray;
$color-3: blue;

$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

body{
    background-color: #32d0d6;
}

.nav{
    background-color: $color-1;
}

.nav ul li{
    list-style: none;
}

.banner h1{
    font-size: $font-lg;
    color: $color-2;
    text-align: center;
}

.footer h3{
    font-size: $font-md;
    color: $color-2;
    text-align: center;
}